<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <div class="mx-auto max-w-7xl py-2 sm:px-6 lg:px-8">
    <button
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
      (click)="CreateClicked()"
    >
      Add recipe
    </button>
  </div>
  <table
    class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
  >
    <thead
      class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="px-6 py-3">Recipe id</th>
        <th scope="col" class="px-6 py-3">Recipe name</th>
        <th scope="col" class="px-6 py-3">Recipe description</th>
        <th scope="col" class="px-6 py-3">Product you will get</th>
        <th scope="col" class="px-6 py-3">ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of items"
        class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700"
      >
        <th
          scope="row"
          class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white"
        >
          {{ item.id }}
        </th>
        <td class="px-6 py-4">
          {{ item.name }}
        </td>
        <td class="px-6 py-4">
          {{ item.details }}
        </td>
        <td class="px-6 py-4">{{ item.product.name }}</td>
        <td class="px-6 py-4 flex justify-around">
          <button
            class="font-medium text-blue-600 hover:underline border rounded border-blue-600 px-4 py-1"
            (click)="EditClicked(item.id)"
          >
            Edit
          </button>

          <button
            class="font-medium text-green-500 hover:underline border rounded border-green-500 px-4 py-1"
            (click)="DetailsClicked(item.id)"
          >
            Details
          </button>

          <button
            class="font-medium text-red-500 hover:underline border rounded border-red-500 px-4 py-1"
            (click)="DeleteClicked(item.id)"
          >
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
