<div class="mt-6 space-y-12 mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
  <div class="border-b border-gray-900/10 pb-12 w-1/2 mx-auto">
    <h2 class="text-2xl font-semibold leading-7 text-gray-900">Edit recipe</h2>
    <p class="mt-1 text-lg leading-6 text-gray-600">
      Input information to edit recipe
    </p>

    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="sm:col-span-6">
        <label
          for="name"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Recipe name</label
        >
        <div class="mt-2">
          <input
            type="text"
            name="name"
            id="name"
            [(ngModel)]="recipeToEdit.name"
            class="block w-full px-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <div class="sm:col-span-6">
        <label
          for="details"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Recipe details</label
        >
        <div class="mt-2">
          <input
            type="text"
            name="details"
            id="details"
            [(ngModel)]="recipeToEdit.details"
            class="block w-full px-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
          />
        </div>
      </div>

      <div class="sm:col-span-6">
        <label
          for="product"
          class="block text-sm font-medium leading-6 text-gray-900"
          >Product we will get</label
        >
        <div class="mt-2">
          <select
            id="product"
            name="product"
            [(ngModel)]="recipeToEdit.productID"
            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6"
          >
            <option *ngFor="let p of products" [value]="p.id">
              {{ p.name }}
            </option>
          </select>
        </div>
      </div>

      <div class="mt-6 flex items-center gap-x-6">
        <button
          type="button"
          class="text-sm font-semibold leading-6 text-gray-900"
          (click)="toHome()"
        >
          Cancel
        </button>
        <button
          type="submit"
          (click)="editRecipe()"
          class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>
